<% provide(:button_name, '更新') %>
<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="users-new-container">
        <h1 class="text-center">Update <%= @user.name %></h1>
        
        <%= render 'form' %>
        
      </div>
    </div>
  </div>
  
</div>