<div class="user-following-wrapper">
  <div class="container">
    <div class-"row">
      <div class="user-following-container">
        <% if @users.any? %>
          <% @users.each do |user| %>
          
            <%= link_to user_path(id: user.id) do %>
              <div><%= image_tag user.icon.url %></div>
              <h2><%= user.name %></h2>
            <% end %>
            
          <% end %>
          
        <% else %>
          <p>現在フォローしているユーザーはいません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>