<div class="user-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="user-show-container">
        <h2><%= @user.name %></h2>
        
        <div class="user-show-follow">
          <%= render 'follow_form' %>
        </div>
      </div>
    </div>
    
  </div>
</div>