<div class="home-wrapper">
  <div class="container">
    <div class="row">
      <div class="home-container">
        <div>
          <h1>gibook</h1>
        </div>
        
        <div>
          <p>
            あなたのおススメの本を発信して<br>
            本の楽しさ、気づきを多くの人に与えてみませんか？
          </p>
        </div>
        
        <div class="home-link">
          <%= link_to "sign up", new_user_path, class: 'home-signup' %>
          
          <%= link_to "log in", login_path, class: 'home-login' %>
        </div>
      </div>
    </div>
  </div>
</div>

