<div class="new-book-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="text-center">Search Books</h1>
      <div class="new-book-search-container">
        <div class="form-group">
          <label for="title">書籍のタイトルを入力してください</label>
          <input type="text" class="form-control" id="title" placeholder="書籍のタイトル">
        </div>
      </div>
      
      <%= render 'new_book1' %>
      
      <%= render 'new_book2' %>
      
      <%= render 'new_book3' %>
      
      
    </div>
  </div>
</div>


<script>
  
  let book1 = $('.new-book-container1');
  book1.hide();
  
  let book2 = $('.new-book-container2');
  book2.hide();
  
  
  let book3 = $('.new-book-container3');
  book3.hide();
  
  $('#title').change(function(){
    const intitle =$('#title').val();
    const url = 'https://www.googleapis.com/books/v1/volumes?q=intitle:' + intitle;
    
    $.getJSON(url, function(data){
      
      if(!data.totalItems) {
        
        $('#title').val('');
        
        $('#booktitle').text('');
        
        $('#bookauthor').text('');
        
        $('#publisheddate').text('');
        
        $('#bookthumbnail').text('');
        
        $('#bookdescription').text('');
        
      }else {
        
        if(data.items[0]){
          
          book1.addClass('open');
          
          if(book1.hasClass('open')){
            book1.show();
          }
          
          $('#booktitle').text(data.items[0].volumeInfo.title);
          $('.js-title').val(data.items[0].volumeInfo.title);
          
          $('#bookauthor').text(data.items[0].volumeInfo.authors);
          $('.js-author').val(data.items[0].volumeInfo.authors);
          
          $('#publisheddate').text(data.items[0].volumeInfo.publishedDate);
          $('.js-published').val(data.items[0].volumeInfo.publishedDate);
          
          $('#bookthumbnail').html('<img src=\"' + data.items[0].volumeInfo.imageLinks.smallThumbnail + '\" />');
          $('.js-thumbnail').val(data.items[0].volumeInfo.imageLinks.smallThumbnail);
          
          $('#bookdescription').text(data.items[0].volumeInfo.description);
          $('.js-description').val(data.items[0].volumeInfo.description);
        }
        
        
        
        
        
        if(data.items[1]) {
          
          book2.addClass('open2');
          
          if(book2.hasClass('open2')){
            book2.show();
          }
          
          $('#booktitle2').text(data.items[1].volumeInfo.title);
          $('.js-title2').val(data.items[1].volumeInfo.title);
          
          $('#bookauthor2').text(data.items[1].volumeInfo.authors);
          $('.js-author2').val(data.items[1].volumeInfo.authors);
          
          $('#publisheddate2').text(data.items[1].volumeInfo.publishedDate);
          $('.js-published2').val(data.items[1].volumeInfo.publishedDate);
          
          $('#bookthumbnail2').html('<img src=\"' + data.items[1].volumeInfo.imageLinks.smallThumbnail + '\" />');
          $('.js-thumbnail2').val(data.items[1].volumeInfo.imageLinks.smallThumbnail);
          
          $('#bookdescription2').text(data.items[1].volumeInfo.description);
          $('.js-description2').val(data.items[1].volumeInfo.description);
        }
        
        
        
        
        
        if(data.items[2]){
          
          book3.addClass('open3');
          
          if(book3.hasClass('open3')){
            book3.show();
          }
          
          $('#booktitle3').text(data.items[2].volumeInfo.title);
          $('.js-title3').val(data.items[2].volumeInfo.title);
          
          $('#bookauthor3').text(data.items[2].volumeInfo.authors);
          $('.js-author3').val(data.items[2].volumeInfo.authors);
          
          $('#publisheddate3').text(data.items[2].volumeInfo.publishedDate);
          $('.js-published3').val(data.items[2].volumeInfo.publishedDate);
          
          $('#bookthumbnail3').html('<img src=\"' + data.items[2].volumeInfo.imageLinks.smallThumbnail + '\" />');
          $('.js-thumbnail3').val(data.items[2].volumeInfo.imageLinks.smallThumbnail);
          
          $('#bookdescription3').text(data.items[2].volumeInfo.description);
          $('.js-description3').val(data.items[2].volumeInfo.description);
        }
        
        
        
        
        
        
        
        
          
      }
      
    });
    
  });
  
</script>
