*,
*::before,
*::after {
  box-sizing: border-box;
}


.yield-wrapper {
  margin-top: 50px;
}

/*flafh css*/
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/*header css*/
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  
  .navbar-container {
    .navbar-brand {
      margin: 0px;
      a {
        display: block;
        font-size: 30px;
        font-weight: 600px;
        color: #fff;
        text-decoration: none;
      }
    }
    
    ul {
      font-size: 15px;
      font-weight: 400px;
      
      li {
        color: white;
        
        a {
          display: block;
          color: white; 
          text-decoration: none;
        }
      }
      
    }
  }
  
}

/*home index*/
.home-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('library.jpg');
  background-size: cover;
  background-color: #464646;
  background-blend-mode: lighten;
}

.home-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  
  div {
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 600px;
    font-size: 100px;
  }
  
  p {
    font-size: 40px;
    text-aligh: center;
  }
  
  .home-link {
    display: flex;
    justify-content: center;
    
    a{
      display: block;
      width: 150px;
      padding: 0px;
      margin-right: 5px;
      margin-left: 5px;
      font-size: 30px;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
    }
  }
  
}


/*users new, session new*/

.users-new-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('library.jpg');
  background-size: cover;
  background-color: #464646;
  background-blend-mode: lighten;
  
  .users-new-container {
    color: white;
    
    #user_name, #user_email, #user_password, #user_password, #user_password_confirmation {
      background-color: rgba(0,0,0,0.0);
      border: 2px solid white;
    }
      
      #session_email, #session_password {
        background-color: rgba(0,0,0,0.0);
        border: 2px solid white;
        
      }
      
      .btn {
        background-color: rgba(0,0,0,0.0);
        border: 2px solid white;
        color: white;
      }
    
    a {
      display: block;
      text-align: center;
    }
  }
}






