*,
*::before,
*::after {
  box-sizing: border-box;
}


.yield-wrapper {
  margin-top: 50px;
}

/*flafh css*/
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/*header css*/
.navbar-transparent {
  margin-bottom: 0px;
  background-color: rgba(0,0,0,0.5);
  
  .navbar-container {
    .navbar-brand {
      margin: 0px;
      a {
        display: block;
        font-size: 30px;
        font-weight: 600px;
        color: #fff;
        text-decoration: none;
      }
    }
    
    ul {
      font-size: 15px;
      font-weight: 400px;
      
      li {
        color: white;
        
        a {
          display: block;
          color: white; 
          text-decoration: none;
        }
      }
      
    }
  }
  
}

/*home index*/
.home-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('library.jpg');
  background-size: cover;
  background-color: #464646;
  background-blend-mode: lighten;
}

.home-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  
  div {
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 600px;
    font-size: 100px;
  }
  
  p {
    font-size: 40px;
    text-aligh: center;
  }
  
  .home-link {
    display: flex;
    justify-content: center;
    
    a{
      display: block;
      width: 150px;
      padding: 0px;
      margin-right: 5px;
      margin-left: 5px;
      font-size: 30px;
      text-decoration: none;
      border: 2px solid white;
      border-radius: 10px;
      color: white;
    }
  }
  
}


/*users new, session new*/

.users-new-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('library.jpg');
  background-size: cover;
  background-color: #464646;
  background-blend-mode: lighten;
  
  .users-new-container {
    color: white;
    
    #user_name, #user_email, #user_password, #user_password, #user_password_confirmation {
      background-color: rgba(0,0,0,0.0);
      border: 2px solid white;
    }
      
      #session_email, #session_password {
        background-color: rgba(0,0,0,0.0);
        border: 2px solid white;
        
      }
      
      .btn {
        background-color: rgba(0,0,0,0.0);
        border: 2px solid white;
        color: white;
      }
    
    a {
      display: block;
      text-align: center;
    }
  }
}


/*topic index, users this_user_topics*/

.topic-index-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(226, 249, 238, 0.8);
  
  .topic-index-container {
    width: 500px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    
    .mypage-url {
      display: block;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-top: 5px;
      margin-left: 5px;
      border-bottom: 2px solid #D4D4D4;
      padding-bottom: 10px;
      
      img {
        display: block;
        margin-right: 10px;
        border-radius: 50%;
      }
      
      
    }
    
    .topic-info {
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-top: 10px;
      
      .topic-book-info {
        margin-left: 40px;
        border-right: 2px solid #D4D4D4;
        padding-right: 15px;
      }
      
      .topic-content-info {
        width: auto;
        margin-left: 30px;
        margin-top: 65px;
        
        .topic-content {
          height: 60px;
          
        }
      }
    }
    
    .topic-comment {
      width: 400px;
      padding: 6px;
      margin-bottom: 3px;
      margin-top: 3px;
      margin-left: 40px;
      background-color: white;
      border: 1px solid #D0D0D0;
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      
      .topic-comment-user {
        
        
        .comment-user-container {
          margin-bottom: 5px;
          margin-left: 5px;
          
          .comment-user-url {
            display: block;
            display: flex;
            align-items: center;
            
            img {
              display: block;
              border-radius: 50%;
            }
            
            .comment-user {
              margin-left: 5px;
              margin-bottom: 0;
            }
          }
        }
        
        .comment-content {
          margin-left: 10px;
          margin-bottom: 0;
        }
      }
      
      .comment-del-url {
        float: right;
      }
    }
  }
}


/*users show*/

.user-show-wrapper {
  width: 100%;
  height: 100vh;
  background-color: rgba(226, 249, 238, 0.8);
  position: relative;
  
  .user-show-container {
    width: 700px;
    background-color: white;
    padding: 20px;
    border: 2px solid #D4D4D4;
    border-radius: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-40%) translateX(-50%);
    -webkit-transform: translateY(-40%) translateX(-50%);
    
    .user-show-info1 {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      
      .user-icon {
        
        img {
          display: block;
          border-radius: 50%;
        }
      }
      
      .user-name {
        display: flex;
        
        
        h2 {
          margin: 0;
          margin-left: 10px;
        }
        
        .user-show-follow {
          margin: 0;
          margin-left: 300px;
        }
      }
    }
    
    .user-show-info2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .user-self-intro {
        border: 2px solid #D4D4D4;
        border-radius: 20px;
        
        h3 {
          border-bottom: 1px solid #D4D4D4;
          padding-bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;
          margin-left: 3px;
          margin-right: 3px;
          margin-bottom: 10px;
        }
        
        p {
          width: 100%;
          padding: 10px;
        }
      }
    }
  }
}
